body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#world {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://raw.githubusercontent.com/painekillers/tree-maker/refs/heads/main/dot.jpg");
  background-repeat: repeat;
  background-size: 24px 24px;
}
